body {
    margin: 0;
}

.structure{
    display: flex;
    flex-direction: column;
}


/*HEADER*/

.header,
.footer {
    display: flex;
    background-color: #1f2937;
    color: white;
    height: 50px;
}

ul{
    display :flex;
    list-style-type: none;
    margin-left: auto;
    gap: 10px;
}


.header{
    align-items: center;
    padding-left: 40px;
    font-size: 20px;
}

/*CONTENT*/

.main{
    display: flex;
    flex:1;
    flex-direction: column;
}

h1 {
    font-size: 48px;
}

.text, .links {
    font-size:18px;
    color: #e5e7eb;
}

.text {
    width: 500px;
}

.webinfo {
    background-color: #1f2937;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 50px 0px;
}

button {
    border-radius: 10px;
    background-color: #3882f6;
    padding: 5px 20px;
    color:white;
    text-align:center;
}
img {
    height:auto;
    width: 300px;
}

/*RANDOM INFORMATION*/

.square{
    border-radius: 20px;
    border: 2px solid blue;
    height:150px;
    width: 150px;
}

.pictures{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

h2 {
    text-align: center;
    flex:1;
}

.images {
    display:flex;
    flex-direction: column;
    align-items: center;
}

/*CONTENT GROW STRUCTURE*/

.quotes, .webinfo, .pictures {
    flex:1;
}

/*QUOTES*/

.quotewrap{
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: 100;
    color: #1f2937;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.credit {
    text-align:right;
}

/*CALL TO ACTION*/

.modal {
    background-color: #3882f6;
    border-radius: 10px;
    padding: 20px;
    display:flex;
    justify-content: center;
    gap: 10px;
    color: white;
    padding: 3em;
    margin: 10px 700px;
    flex-wrap: wrap;
}
.button2 {
    border-color: white;
}

/*FOOTER*/
.footer {
    justify-content: center;
    align-items:center;
}
